nav {
  padding: 0.825rem 0;
  background: #111;
}

#carousel {
  background:#111;
}

.block-darker {
  background: #111;
  padding:4.5rem 0;
}
.block-lighter {
  background: #222;
  padding:4.5rem 0;
}

footer {
  background:#111;
  padding:3.5rem 0;
}
@media screen and (max-width: 768px) {
  .right {
  float:none;
  }
  nav {
    padding: 0;
  }
}